{% include "partials/theme-switcher.njk" %}

<div class="wrapper">

{% include "partials/master-top.njk" %}

{% include "partials/header.njk" %}

<main>

	{% block content %}{% endblock %}

</main>

{% include "partials/footer.njk" %}

{% include "partials/master-bottom.njk" %}

</div>