<footer>
	<h3>Contacta conmigo</h3>
	<ul>
		<li>
			<a href="mailto:pablo.bermejo.novoa@gmail.com" class="button">
				{% include 'partials/icon-envelope.njk' %}
				<span class="inclusively-hidden">pablo.bermejo.novoa@gmail.com</span>
			</a>
		</li>
		<li>
			<a href="https://codepen.io/pbermejo" class="button" target="_blank">
				{% include 'partials/icon-codepen.njk' %}
				<span class="inclusively-hidden">Codepen</span>
			</a>
		</li>
	</ul>
</footer>