<article class="project">
          
{% for asset in project.assets %}

	{% if asset.type == "image" %}
		<figure>
			{% for url in asset.url %}
			<img src="{{url}}" alt="{{url}}" />
			{% endfor %}
		</figure>
	{% else %}
		<p class="codepen" data-height="360" data-theme-id="dark" data-default-tab="result" data-user="pbermejo" data-slug-hash="{{asset.url}}" data-pen-title="Interactive background with css variables">
		<span>Visita el Pen <a href="https://codepen.io/pbermejo/pen/{{asset.url}}">
		{{ project.title }}</a> de <a href="https://codepen.io/pbermejo">@pbermejo</a>
		en CodePen.</span>
		</p>
		<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
	{% endif %}
{% endfor %}
	<div class="project__description">
		<h4 class="project__title">{{ project.title }}</h4>
		<p class="project__subtitle">{{ project.description }}</p>
	</div>
</article>