{% extends 'master.njk' %}

{% block content %}

  <p>
    We focus on UX, UI, branding, development and strategy.

	As an intentionally small studio, we work with companies and individuals in different capacities to solve their business problems through design.

	We are currently open for projects:
  </p>

{% endblock %}